doctype html
html
    head 
        title Test //= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
      form(action="/submit" method="post")
      // First Name field
      label(for="first-name") First Name:
      input#first-name(type="text" name="firstName" placeholder="Enter your first name")

      // Last Name field
      label(for="last-name") Last Name:
      input#last-name(type="text" name="lastName" placeholder="Enter your last name")


      // Email field
      label(for="email") Email:
      input#email(type="email" name="email" placeholder="Enter your email")


      // Job Title field
      label(for="job-title") Job Title:
      input#job-title(type="text" name="jobTitle" placeholder="Enter your job title")


      // Company field
      label(for="company") Company:
      input#company(type="text" name="company" placeholder="Enter your company name")

      // Submit button
      button(type="submit") Submit